<!--Navbar---->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(71, 74, 81, 0); z-index: 5;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto" >
        &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;
        &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;   &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
        &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;    
        <li class="nav-item" >
          <a class="nav-link" routerLink="/home" style="color: azure; font-weight: 100;" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" style="color: azure; font-weight: 100;" >LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" style="color: azure; font-weight: 100;" >ABOUT</a>
      
        </li>
      </ul>
    </div>
</nav>

<!--Video Background---->
<div class="video-wrapper">
<video autoplay loop muted playsinline preload="auto" >
  
      <source src="https://cdn.pixabay.com/video/2020/03/13/33628-397860881_large.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
<br>
</div>

  <div class="box">
<header>
<h2> ABOUT</h2>
<p> Welcome to our Art Gallery! This website is a digital space dedicated to showcasing stunning artworks that inspire and captivate. Here, you can explore a curated collection of visual masterpieces from various artists, styles, and eras. Our aim is to provide an immersive experience that celebrates creativity and artistic expression.</p>
<br>
<br>
<H4>Disclaimer</H4>
<p>Please note that the images displayed on this website are not my own creations. They are sourced from public domains and credited to their respective artists. </p>
</header>
<br>
<br>
<!--Gallry Features---->
<div class="container">
    <section>
      <h2> Gallery Features</h2>

      <div class="highlight">
        <h3>Home Page</h3>
        <ul>
          <li><strong>Backgorund Video</strong> to set the gallery’s tone.</li>
          <li><strong>Artwork Slider</strong> with a curated display of highlighted works.</li>
        </ul>
      </div>

      <div class="highlight">
        <h3> Artwork List Page</h3>
        <ul>
          <li><strong>Card Deck Layout:</strong> Rows of artwork cards for easy browsing.</li>
          <li><strong>Hover Descriptions:</strong> See a short teaser about each piece.</li>
          <li><strong>Interactive Modal:</strong> Click a card to view:
            <ul>
              <li>Full-size image</li>
              <li>Long description</li>
              <li>Artist’s name (clickable)</li>
              <li>Publication date</li>
              <li>Category and type</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="highlight">
        <h3>Artist Profile Page</h3>
        <ul>
          <li>View full artist bios</li>
          <li>See all works by the artist</li>
        </ul>
      </div>

      <div class="highlight">
        <h3> Search Functionality</h3>
        <ul>
          <li>Search by name or artist</li>
          <li>Filter results to refine your search using filter function</li>
        </ul>
      </div>

    </section>

  </div>