div{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    
}    

.video-wrapper {
  position: fixed;
  width: 100%;
  z-index: -0;
  height: 100vh; /* full screen height */
  overflow: hidden;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* video fills area */
}



  header {
    background-color: #11111100;
    color: #f9f7f7;
    padding: 2rem 1rem;
    margin-top: 600px;

  }

  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }


  

  section {
    margin-bottom: 2.5rem;
  }

  section h2 {
    color: #fdfdfd;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.3rem;
  }

  ul {
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .highlight {
    background-color: #ffffffb4;
    border-left: 4px solid  #641C34;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    margin: 1rem 0;
  }

 .box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
 }

  @media (max-width: 600px) {
    header h1 {
      font-size: 2rem;
    }
  }

.navbar{
    background-color: #33333300;
    position:absolute;
    align-items: center;
}