<br>
<div class="box">
    
<h2> ABOUT</h2>

<p>    Welcome to our Art Gallery! This website is a digital space dedicated to showcasing stunning artworks that inspire and captivate. Here, you can explore a curated collection of visual masterpieces from various artists, styles, and eras. Our aim is to provide an immersive experience that celebrates creativity and artistic expression.</p>

<H4>Disclaimer</H4>

<p>
    Please note that the images displayed on this website are not my own creations. They are sourced from public domains and credited to their respective artists. This website is currently under construction as part of my portfolio to demonstrate my skills in web development using Angular. Stay tuned for updates and new features!</p>
    
<br>
<BR>



    <h3 style="font-weight: 500; margin-left: 25px;">
        This website is currently under construction as part of my portfolio to demonstrate my skills in web development using Angular. Stay tuned for updates and new features!
    
    </h3>
</div>