<section class="welcome">
    <div class="flex-container">
       <div class="left-welcome">
        <div class="text">
            <p>Indulge in the world of art in the comfort of your own space</p>
            <br>
            <div>
                <button class="btn btn-light">View Art &nbsp; &nbsp; &nbsp;<span class="arrow"></span></button>

               </div>
        </div>
     
       </div>
    </div>
</section>

<section class="red"></section>

<section>
    <div>
        <video width="640" height="360" autoplay loop muted>
            <source src="https://videos.pexels.com/video-files/1085985/1085985-sd_640_360_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>